<?php

use Doctrine\DBAL\Driver\PDO\MySQL\Driver as PDOMysqlDriver;

return [
    'doctrine' => [
        'connection' => [
            // default connection name
            'orm_default' => [
                'driverClass' => PDOMysqlDriver::class,
                'params' => [
                    'host'     => 'mysql',
                    'port'     => '3306',
                    'user'     => 'laminas',
                    'password' => 'laminas',
                    'dbname'   => 'laminas-api-tools',
                ],
            ],
        ],
    ],
];
