<?php

/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in LaminasSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

use Laminas\ApiTools\MvcAuth\Authentication\OAuth2Adapter;
use User\OAuth2\Adapter\PdoAdapter;

return [
    'db' => [
        'adapters' => [
            'mysql' => [
                'database'  => 'laminas-api-tools',
                'driver'    => 'PDO_Mysql',
                'hostname'  => 'mysql',
                'username'  => 'laminas',
                'password'  => 'laminas',
                'port'      => '3306',
                'dsn'       => 'mysql:dbname=laminas-api-tools;host=mysql',
            ],
        ],
    ],
    'zf-mvc-auth' => [
        'authentication' => [
            'adapters' => [
                'oauth2_pdo' => [
                    'adapter' => OAuth2Adapter::class,
                    'storage' => [
                        'storage' => PdoAdapter::class,
                    ],
                ],
            ],
        ],
    ],
];
